body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 40px;
}

button {
  padding: 10px 16px;
  margin-bottom: 20px;
  border: none;
  background: #ef4444;
  cursor: pointer;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
}

.high { color: #ef4444; }
.medium { color: #f59e0b; }
.low { color: #22c55e; }
